#container{
    display: flex;
    justify-content: space-evenly;
}

#leftContainer{

}

label{
    display: block;
}
[type="text"]{
    width: 300px;
    height: 20px;
    margin: 10px 0;
}

button{
    background-color: rgb(20, 163, 20);
    border-style: none;
    color: white;
    padding: 8px 15px;
}
tr{
    background-color: #f3f3f3;
    margin: 0;
}
td, th{
    border: 1px solid gray;
    padding: 5px 10px;
}